@media print {
  body * {
    visibility: hidden;
  }
  .MuiTableContainer-root, .MuiTableContainer-root * {
    visibility: visible;
  }
  .MuiTableContainer-root {
    position: absolute;
    left: 0;
    top: 0;
  }
  .no-print {
    display: none !important;
  }
}

.previewTableCard .fullsize-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.modal-style {
  position: 'absolute';
  top: '50%';
  left: '50%';
  transform: 'translate(-50%, -50%)';
  width: '90%';
  height: '90%';
  background-color: 'background.paper';
  box-shadow: 24;
  padding: 4;
}

.print-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
